<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>

        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/fullcalendar@5.10.1/main.min.css"
              integrity="sha256-16PDMvytZTH9heHu9KBPjzrFTaoner60bnABykjNiM0=" crossorigin="anonymous">
        {% block stylesheets %}
        {% endblock %}
        <script src="https://cdn.jsdelivr.net/npm/fullcalendar@5.10.1/main.min.js"
                integrity="sha256-XOMgUu4lWKSn8CFoJoBoGd9Q/OET+xrfGYSo+AKpFhE=" crossorigin="anonymous"></script>
        {% block javascripts %}
         {% endblock %}
    </head>
    <body>
        {% block body %}{% endblock %}
    </body>
</html>
